{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} Post: {{ Product.id }} {% endblock %}

{% block body %}
    {{ parent() }}

    <a href="{{ path('homepage') }}">Show all</a>

    {{ flash }}

    <form action="{{ path('post_create') }}" method="post">
        <label for="title">Title</label><br>
        <input type="text" id="title" name="form[title]"><br><br>

        <label for="content">Content</label><br>
        <textarea name="form[content]" id="content" cols="30" rows="10"></textarea><br><br>

        <input type="submit">
    </form>

{% endblock %}