{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} Homepage {% endblock %}

{% block body %}
    {{ parent() }}


    {% for p in Products %}
        <div class="post">
            <b>{{ p.id }} - {{ p.name }}</b>
            <p>{{ p.content | slice(0, 100) }}... <a href="{{ path('post', {'id' : p.id}) }}">next</a></p>
        </div>
    {% endfor %}

{% endblock %}